<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6004b73c-d1ea-4223-9236-0dcd8b925ae0/resourceGroups/BadmintonClubAppResources/providers/Microsoft.Web/sites/badmintonclub</ResourceId>
    <ResourceGroup>BadmintonClubAppResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://badmintonclub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>badmintonclub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>badmintonclub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$badmintonclub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:badmintonclubsqlserver.database.windows.net,1433;Initial Catalog=BadmintonClubDB;User ID=sunny;Password=BadmintonClub2018" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="badmintonclubService.Models.badmintonclubContext, badmintonclubService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:badmintonclubsqlserver.database.windows.net,1433;Initial Catalog=BadmintonClubDB;User ID=sunny;Password=BadmintonClub2018</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>